<section class="section ">
  <div class="columns ">
    <div class="column is-4-tablet is-3-desktop is-2-widescreen">
      <nav class="menu">
        <p class="menu-label">Menu</p>
        <ul class="menu-list">
          <li>
            <a [routerLinkActive]="['is-active']" [routerLink]="['/dashboard']">
              <span class="icon"> <i class="fa fa-tachometer"></i> </span>
              Dashboard
            </a>
          </li>
          <li>
            <a [routerLinkActive]="['is-active']" [routerLink]="['/books']">
              <span class="icon"> <i class="fa fa-book"></i> </span> Books
            </a>
          </li>
          <li>
            <a [routerLinkActive]="['is-active']" [routerLink]="['/customers']">
              <span class="icon"> <i class="fa fa-address-book"></i> </span>
              Customers
            </a>
          </li>
          <li>
            <a [routerLinkActive]="['is-active']" [routerLink]="['/orders']">
              <span class="icon"> <i class="fa fa-file-text-o"></i> </span>
              Orders
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- Here was router-outlet-->
    <ng-content></ng-content>
  </div>
</section>
